@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a, li{
    text-decoration: none;
}

ul li{
    list-style-type: none; 
}

.dropdown-menu{
    border:none;
}

p{
    margin-bottom: 0px;
}


/******************* Header **********************/

header nav{
    background-color: #d6e9f0;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header ul li{
    display: inline-block; 
}

.logosHeader{
    height: 60px;
}

.iconosHeader{
    height: 25px;
}

header li a{
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #D9933D;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 6px 2px;
    text-align: center;

}

.fa-brands{
    padding: 0 5px;
}

header li a:hover, .fa-brands:hover{
    color:#d6e9f0;
    background-color: #D9933D;
    border-radius:10px;    
}

/*Bootstrap header*/

.btn-secondary, .dropdown-item, .navbar-light .navbar-nav .nav-link{
    background-color:transparent ;
    color: #D9933D;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: 16px;
    border: none;
}

.btn-secondary:hover ,.btn-secondary:active, .btn-secondary:focus, 
.dropdown-item:hover,
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active,.navbar-light .navbar-nav .nav-link:focus
{
    color:#d6e9f0;
    background-color: #D9933D;
    border-radius:10px;    
}

.dropdown-menu, .navbar-collapse{
    background-color:#d6e9f0;
}

.navbar{
    padding-top: 0px;
}

.navbar-brand{
    padding-top: 0px;
}

/******************* Main **********************/

main{
    background-color: #FFE45B;
}

h1{
    color:#D9933D;
    text-decoration: underline;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    padding-top: 40px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    line-height: 72px;
    filter: blur(0.5px);
    margin-bottom: 0px;
}

h2{
    color:#D9933D;
    text-decoration: underline;
    font-size: 28px; 
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
    padding:50px;
}

article h2{
    padding: 10px;
}

/******************* Inicio **********************/

.inicio{
    background-image: url('../image/imageLogos/FondoCapybara.png');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    height: 700PX;
}

.inicio h1,.inicio p{
    backdrop-filter: blur(2.5px);  
}

.inicio p{
    display: block;
    text-align: center;
    width: 100%;
    height: 500px;
    max-height: 100%;
    color: whitesmoke;
    font-size: 16px; 
    position: relative;
    padding: 50px 10% 0px 10%;
}

/******************* Galeria **********************/

.galeria{
    margin: 0 auto;
    width:70%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/******************* Catalogos **********************/
#catalogos{
        background-color: #ffeb85;
}

.catalogo{
    padding-bottom: 50px;
}

.catalogo ul{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: end;
    padding-left: 0px;
}

.catalogo ul li img{
    height: 200px;
}

.contenedor{
    display: inline-block;
    width: 200px;
    text-align: center;
    color:#D9933D;
    font-weight: bolder;
    text-decoration: underline;
}

.contenedor img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

/******************* Contacto **********************/


.contactos{
    padding: 50px;
    padding-top: 0px;
}

.contactos p{
    text-align: center; 
    height: 200px;
}

/******************* Nosotros **********************/

#nosotros{
    background-color: #ffeb85;
}

.nos p{
    height: 150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nos{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 150px);
    grid-template-areas:
    "A"
    "B"
    "C";
}

.parrafoA{
    grid-area: A;
}
.parrafoB{
    grid-area: B;
}
.parrafoC{
    grid-area: C;
}

/******************* Catalogos **********************/


.catFormato h1{
    padding-top: 40px;
}

.catFormato nav{
    margin: 50px 50px 0px 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.catFormato article{
    height: 290px;
    width: 250px;
    border: 5px solid black;
    background-color: white;
}

.catFormato article{
    margin: 20px;
}

.catFormato img{
    height: 150px;
    width: 200px;
    margin: 22px 22px 22px 22px;
}

.catFormato h2{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-left: 0px;
    margin-top: 0PX;
}

.prodFormato{
    padding-left: 50px;
}

.prodFormato article{
    padding-top: 50px;
}

.prodFormato img{
    height: 500px;
    padding-left: 25%;
}

.prodFormato h2{
    padding-left: 50px;
}

.prodFormato ul li{
    display: list-item;
    margin: 20px
    ;
}

.prodFormato p{
    padding:20px 200px 200px 20px;
}

.carrito{
height: 480px;
}

.carrito p{
    text-align: center;
    padding: 10px;
}

.contenedorCarrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}

img.imgcapy {
    width: 150px;

}

/******************* Footer **********************/

footer{
    background-color: #d6e9f0;
    height: 100px;
    margin: 0;
}

footer p{
    color: #716262;
    text-align: center;
}

footer img{
    height: 30px;
}

.contenedorFooter{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,30px);
    grid-template-areas: 
    "anio anio anio"
    "ubic ubic ubic"
    "logoA logoB logoC";

}

.anio{
    grid-area: anio;
}
.ubic{
    grid-area: ubic;
}
.logoA{
    grid-area: logoA;
}
.logoB{
    grid-area: logoB;
}
.logoC{
    grid-area: logoC;
}

/*********************************************************/
/******************* PANTALLA 600px **********************/
/*********************************************************/

@media (min-width: 600px){

    /******************* Header **********************/

    .logosHeader{
        height: 75px; 
    }

    header li a{
        text-align: right;
        padding-right: 10px;
    }

    .navbar-nav .nav-link {
        padding-right: 25px;
        padding-left: 0;
    }

    /******************* Main **********************/

    h1{
        font-size: 48px;
    }

    h2{
        font-size: 32px; 
        text-align: center; 
    }
    /******************* Inicio **********************/

    .inicio p, .carrito p{
        font-size:24px ;
    }

    /******************* Catalogos **********************/

    #catalogos h2{
        text-align: right;
    }

    .catalogo ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        align-items: end;
        padding-left: 0px;
    }

    /******************* Contacto **********************/

    #contacto h2{
        text-align: left;
    }

    .formContacto{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .contactos p{
        text-align: center; 
        height: 200px;
        width: 40%;
    }

    .formularioMensaje{
        padding: 10px;
    }

    /******************* Nosotros **********************/

    .nos p{
        height: 150px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nos{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 150px);
        grid-template-areas:
        "A A ."
        ". B B"
        "C C .";
    }

    .parrafoA{
        grid-area: A;
    }
    .parrafoB{
        grid-area: B;
    }
    .parrafoC{
        grid-area: C;
    }
    
    /******************* Footer **********************/

    footer{
        height: 80px;
    }
        footer img{
        height: 40px;
    }

    .contenedorFooter{
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(2,40px);
        grid-template-areas: 
        "anio anio logoA logoB logoC"
        "ubic ubic . . .";
    }

}

/*********************************************************/
/******************* PANTALLA 1024px **********************/
/*********************************************************/

@media (min-width: 1024px){

    /******************* Main **********************/

    h1{
        font-size: 64px;
    }

    h2{
        font-size: 48px; /*cambiar*/
        text-align: center; /*/*/
    }
    /******************* Inicio **********************/

    .inicio p, .carrito p{
        font-size:36px ;
    }

    /******************* Catalogos **********************/

    .catalogo ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 20px;
        justify-items: center;
        align-items: end;
        padding:200px 0px 200px 0px;
    }

    img.imgcapy {
        width: 210px;
    }

    /******************* Contacto **********************/

    .formContacto{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .contactos p{
        text-align: center; 
        height: 200px;
        width: 60%;
    }

    /******************* Nosotros **********************/

    .nos p{
        height: 150px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nos{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 150px);
        grid-template-areas:
        "A A ."
        ". B B"
        "C C .";
    }

    .parrafoA{
        grid-area: A;
    }
    .parrafoB{
        grid-area: B;
    }
    .parrafoC{
        grid-area: C;
    }
    
    /******************* Footer **********************/

    footer{
        height: 70px;
    }
        footer img{
        height: 40px;
    }

    .contenedorFooter{
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "anio anio ubic ubic . . . . . logoA logoB logoC";
    }

}
