@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a, li {
  text-decoration: none;
  list-style-type: none;
}
a:hover, li:hover {
  color: #b37a34;
}

a {
  color: #D9933D;
}

.dropdown-menu {
  border: none;
}

p {
  margin-bottom: 0px;
}

/******************* Header **********************/
header nav {
  background-color: #d6e9f0;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header .navbar {
  padding-top: 0px;
}
header .navbar-brand {
  padding-top: 0px;
}
header .logosHeader {
  height: 70px;
}
header .iconosHeader {
  height: 60px;
}
@media (max-width: 300px) {
  header .iconosHeader {
    display: none;
  }
}
header .navbar-collapse {
  background-color: #d6e9f0;
  border-radius: 10px;
}
header ul li {
  display: inline-block;
}
header ul li a {
  display: inline-block;
  font-weight: 700;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  margin: 6px 2px;
  text-align: center;
}
header ul li a:hover {
  border-radius: 10px;
}
header ul li a .fa-brands {
  padding: 0 5px;
}
header ul li a .nav-link {
  text-align: center;
}
header .navbar-light .navbar-nav .nav-link {
  text-align: center;
  background-color: transparent;
  color: #D9933D;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 16px;
  border: none;
}
header .navbar-light .navbar-nav .nav-link:hover, header .navbar-light .navbar-nav .nav-link:active, header .navbar-light .navbar-nav .nav-link:focus {
  color: #d6e9f0;
  background-color: #D9933D;
  border-radius: 10px;
}
header .dropdown-menu {
  background-color: #d6e9f0;
}
header .dropdown-menu .dropdown-item {
  background-color: transparent;
  color: #D9933D;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 16px;
  border: none;
}
header .dropdown-menu .dropdown-item:hover, header .dropdown-menu .dropdown-item:active {
  color: #d6e9f0;
  background-color: #D9933D;
  border-radius: 10px;
}

/******************* Main **********************/
main {
  background-color: #ffeb85;
}
main h1 {
  color: #D9933D;
  text-decoration: underline;
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  padding-top: 40px;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  line-height: 72px;
  filter: blur(0.5px);
  margin-bottom: 0px;
}
main h2 {
  color: #D9933D;
  text-decoration: underline;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  padding: 50px 20px 20px 20px;
}

/******************* Inicio **********************/
.inicio {
  background-image: url("../image/imageLogos/fondoCapy.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 700PX;
}
.inicio h1, .inicio p {
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
}
.inicio p {
  display: block;
  text-align: center;
  width: 100%;
  height: 500px;
  max-height: 100%;
  color: #d6e9f0;
  font-size: 16px;
  position: relative;
  padding: 50px 10% 0px 10%;
}

/******************* Galeria **********************/
.galeria {
  margin: 0 auto;
  width: 50%;
  min-width: 200px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/******************* Catalogos **********************/
#catalogos {
  background-color: #ffeb85;
}
#catalogos .catalogo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  grid-gap: 10px;
  justify-items: center;
  align-items: end;
}
#catalogos .catalogo .contenedor {
  display: inline-block;
  width: 200px;
  text-align: center;
  color: #D9933D;
  font-weight: bolder;
  text-decoration: underline;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #d6e9f0;
}
#catalogos .catalogo .contenedor img {
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#catalogos .catalogo .contenedor p {
  height: 75px;
  padding: 15px;
}

/******************* Catalogos HTML **********************/
.catFormato {
  min-height: calc(100vh - 80px - 80px);
}
.catFormato section h1 {
  padding-top: 40px;
}
.catFormato section nav {
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.catFormato section nav article {
  height: 350px;
  width: 260px;
  border: 5px solid #b37a34;
  background-color: #d6e9f0;
  border-radius: 15px;
  margin: 20px;
}
.catFormato section nav article img {
  height: 200px;
  width: 200px;
  margin: 25px;
}
.catFormato section nav article h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin: 0px;
  padding: 20px;
}

/************* Producto Sin Stock **************/
main .prodSinS {
  min-height: calc(100vh - 75px - 80px);
  overflow: hidden;
  white-space: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FFE45B;
  align-items: center;
}
main .prodSinS h1 {
  font-size: 26px;
  padding: 0px 10px;
}
main .prodSinS .contenedorImgP {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
main .prodSinS .contenedorImgP p {
  text-align: center;
  padding: 10px;
  display: block;
}
main .prodSinS .contenedorImgP img {
  width: 50%;
  display: block;
}

/******************* Contacto **********************/
.contactos {
  padding: 25px;
  padding-top: 0px;
  /*boton Bootstrap*/
}
.contactos h2 {
  padding-bottom: 10px;
}
.contactos p {
  text-align: center;
  margin: 30px 10px;
}
.contactos .btn-primary {
  color: #d6e9f0;
  background-color: #D9933D;
  border-color: #D9933D;
}
.contactos .btn-primary:hover, .contactos .btn-primary:active {
  color: #d6e9f0;
  background-color: #b37a34;
  border-color: #D9933D;
}
.contactos .btn-primary:active:focus {
  box-shadow: #ffaf4d 0px 0px 0px 0.25rem;
}
.contactos .btn-check:focus + .btn-primary, .contactos .btn-primary:focus {
  color: #d6e9f0;
  background-color: #b37a34;
  border-color: #D9933D;
  box-shadow: 0 0 0 0.25rem #ffaf4d;
}

/******************* Nosotros **********************/
#nosotros .nos {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "A" "B" "C";
}
#nosotros .nos p {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nosotros .nos .parrafoA {
  grid-area: A;
}
#nosotros .nos .parrafoB {
  grid-area: B;
}
#nosotros .nos .parrafoC {
  grid-area: C;
}

/******************* Footer **********************/
footer {
  background-color: #d6e9f0;
  height: 100px;
  margin: 0;
}
footer p {
  color: #716262;
  text-align: center;
}
footer img {
  height: 30px;
}
footer .contenedorFooter {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 30px);
  grid-template-areas: "anio anio anio" "ubic ubic ubic" "logoA logoB logoC";
}
footer .anio {
  grid-area: anio;
}
footer .ubic {
  grid-area: ubic;
}
footer .logoA {
  grid-area: logoA;
}
footer .logoB {
  grid-area: logoB;
}
footer .logoC {
  grid-area: logoC;
}

/*********************************************************/
/******************* PANTALLA 600px **********************/
/*********************************************************/
@media (min-width: 600px) {
  /******************* Header **********************/
  header .logosHeader {
    height: 75px;
  }
  header ul li {
    display: inline-block;
  }
  header ul li a {
    text-align: right;
    padding-right: 10px;
  }
  /******************* Main **********************/
  main h1 {
    font-size: 48px;
  }
  main h2 {
    font-size: 32px;
    text-align: center;
  }
  /******************* Inicio **********************/
  .inicio p {
    font-size: 24px;
  }
  /******************* Catalogos **********************/
  #catalogos h2 {
    text-align: right;
  }
  #catalogos .catalogo {
    grid-template-columns: repeat(2, 1fr);
  }
  #catalogos .catalogo p {
    height: 100px;
    padding: 10px;
  }
  /****************Producto sin Stock**************/
  main .prodSinS {
    min-height: calc(100vh - 75px - 80px);
  }
  main .prodSinS h1 {
    font-size: 32px;
  }
  main .prodSinS p {
    font-size: 24px;
  }
  main .prodSinS .contenedorImgP img {
    width: 30%;
    display: block;
  }
  .contenedorImgP {
    max-width: 100%;
    height: calc(100% - 0px);
  }
  /******************* Contacto **********************/
  #contacto.contactos h2 {
    text-align: left;
  }
  #contacto.contactos p {
    padding: 10px;
  }
  #contacto.contactos .formContacto {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  #contacto.contactos .formContacto .contenedorP {
    flex: 1;
  }
  #contacto.contactos .formContacto .contenedorFormulario {
    flex: 1;
  }
  #contacto.contactos .formContacto .contenedorFormulario .formularioMensaje {
    padding: 10px;
  }
  /******************* Nosotros **********************/
  #nosotros .nos {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "A A ." ". B B" "C C .";
  }
  #nosotros .parrafoA {
    grid-area: A;
  }
  #nosotros .parrafoB {
    grid-area: B;
  }
  #nosotros .parrafoC {
    grid-area: C;
  }
  /******************* Footer **********************/
  footer {
    height: 80px;
  }
  footer img {
    height: 40px;
  }
  footer .contenedorFooter {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 40px);
    grid-template-areas: "anio anio logoA logoB logoC" "ubic ubic logoA logoB logoC";
  }
}
/***************************************************************************************/
/******************* PANTALLA 992px Elemento  Header de Bootstrap **********************/
/***************************************************************************************/
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse { /* Este sector controla la ubicacion de los elementos del header*/
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}
/**********************************************************/
/******************* PANTALLA 1024px **********************/
/**********************************************************/
@media (min-width: 1024px) {
  /******************* Main **********************/
  main h1 {
    font-size: 64px;
  }
  main h2 {
    font-size: 48px;
    text-align: center;
  }
  /******************* Inicio **********************/
  .inicio p {
    font-size: 36px;
  }
  /******************* Catalogos **********************/
  #catalogos .catalogo {
    height: 500px;
    grid-template-columns: repeat(4, 1fr);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #catalogos .catalogo .contenedor img {
    width: 210px;
  }
  #catalogos .catalogo .contenedor p {
    height: 100px;
    padding: 10px;
  }
  /******************* Catalogos HTML **********************/
  .catFormato {
    min-height: calc(100vh - 75px - 80px);
  }
  .catFormato section h1 {
    font-size: 48px;
  }
  /****************Producto sin Stock**************/
  main .prodSinS {
    min-height: calc(100vh - 75px - 70px);
  }
  main .prodSinS h1 {
    font-size: 48px;
    padding: 20px 0px;
  }
  main .prodSinS p {
    font-size: 36px;
  }
  main .prodSinS .contenedorImgP img {
    width: 30%;
    display: block;
  }
  /******************* Contacto **********************/
  .contactos p {
    text-align: center;
    height: 200px;
    width: 80%;
    font-size: 22px;
    margin: 0 auto;
  }
  /******************* Nosotros **********************/
  #nosotros .nos {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "A A A . ." ". . B B B" ". C C C .";
  }
  #nosotros .nos p {
    padding: 10px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }
  /******************* Footer **********************/
  footer {
    height: 80px;
  }
  footer .contenedorFooter {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 80px);
    grid-template-areas: "anio ubic logoA logoB logoC";
  }
}/*# sourceMappingURL=style.css.map */