/******************* Catalogos **********************/

#catalogos{
    h2{
        padding-bottom: 45px;
    }
    .catalogo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        grid-gap: 50px;
        justify-items: center;
        align-items: end;
        .contenedor{
            display: inline-block;
            width: 200px;
            text-align: center;
            background-color: $colorPrimario;
            color:$colorSecundario;
            font-weight: bolder;
            text-decoration: underline;
            border:1px solid black;
            border-radius: 15px;
            &:hover {
                transform: scale(1.25);
                transition: transform 300ms ease-out;
                }
            &:not(:hover) {
                filter: blur(2px);
                }
            img{
                height: 200px;
                max-width: 100%;
                max-height: 100%;
                vertical-align: middle;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            p{
                height: 75px;
                padding: 15px;
            }
        }
    } 
}