/******************* Contacto **********************/

.contactos{
    padding: 25px;
    padding-top: 0px;
    h2{
        padding-bottom: 10px;
    }
    p{
        text-align: center; 
        margin: 30px 10px;
    }
    /*boton Bootstrap*/
    .btn-primary {
        color: $colorPrimario;
        background-color: $colorSecundario;
        border-color: $colorSecundario;
        &:hover, &:active{
            color: $colorPrimario;
            background-color: $colorSecundarioDark;
            border-color: $colorSecundario;
        }
            &:active:focus{
            box-shadow: $bgColorBoton 0px 0px 0px 0.25rem;
        }
    }
    .btn-check:focus+.btn-primary, .btn-primary:focus {
        color: $colorPrimario;
        background-color: $colorSecundarioDark;
        border-color: $colorSecundario;
        box-shadow: 0 0 0 .25rem $bgColorBoton;
    }
}