/******************* Galeria **********************/

.galeria{
    margin: 0 auto;
    width:50%;
    min-width: 200px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
