/******************* Header **********************/

header {
    nav{
    background-color: $colorPrimario;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    }
    .navbar{
        padding-top: 0px;
        }
    .navbar-brand{
        padding-top: 0px;
    }
    .logosHeader{
        height: 70px;
    }
    .iconosHeader{
        height: 60px;
    }
    @media (max-width: 300px){
        .iconosHeader{
            display: none;
        }   
    }
    .navbar-collapse{
        background-color:$colorPrimario;
        border-radius: 10px;
    }
    ul{
        li{
            display: inline-block; 
            a{
                display: inline-block;
                font-weight: 700;
                text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
                margin: 6px 2px;
                text-align: center;
                &:hover{
                    border-radius:10px;    
                }
                .fa-brands{
                    padding: 0 5px;
                }
                .nav-link{
                    text-align: center;
                }
            }
        }
    }
    .navbar-light{
        .navbar-nav{
            .nav-link{
                text-align: center;
                @include propiedadBotones;
                &:hover, &:active, &:focus{
                    @include propiedadBotonesH;
                }
                
            }
        }
    }
    .dropdown-menu{
        background-color:$colorPrimario;
        .dropdown-item{
            @include propiedadBotones;
            &:hover, &:active{
                @include propiedadBotonesH;
            }
        }
    }
}