/******************* Main **********************/

main{
    background-color: $bgColor;
    h1{
        color:$colorSecundario;
        text-decoration: underline;
        text-align: center;
        font-weight: 400;
        font-size: 32px;
        padding-top: 40px;
        text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        line-height: 72px;
        filter: blur(0.5px);
        margin-bottom: 0px;
    }
    h2{
        color:$colorSecundario;
        text-decoration: underline;
        text-align: center;
        font-size: 28px; 
        font-weight: 400;
        padding: 50px 20px 20px 20px;
    }
}