
/*********************************************************/
/******************* PANTALLA 600px **********************/
/*********************************************************/
@media (min-width: 600px){
    /******************* Header **********************/
    header {
        .logosHeader{
            height: 75px;
        }
        ul{
            li{
                display: inline-block; 
                a{
                    text-align: right;
                    padding-right: 10px;
                }
            }
        }
    }
    /******************* Main **********************/
    main{
        h1{
            font-size: 48px;
        }
        h2{
            font-size: 32px; 
            text-align: center; 
        }
    }
    /******************* Inicio **********************/
    .inicio{
        p{
            font-size:24px
        }
    }
    /******************* Catalogos **********************/
    #catalogos {
        h2{
            text-align: right;
        }
        .catalogo{
            grid-template-columns: repeat(2, 1fr);
            p{
                height: 100px;
                padding: 10px;
            }
        }
    }
    /****************Producto sin Stock**************/
    main{
        .prodSinS{
            min-height: calc(100vh - 75px - 80px);
            h1{
                font-size: 32px;
            }
            p{
                font-size:24px
            }
            .contenedorImgP{
                img {
                    width: 30%;
                    display: block;
                }
            }
        }
    }
    .contenedorImgP {
        max-width: 100%;
        height: calc(100% - (400px - 400px));
    }
    /******************* Contacto **********************/
    #contacto {
        &.contactos{
            h2{
            text-align: left;
            }
            p{
                padding: 10px; 
            }
            .formContacto{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                .contenedorP{
                    flex: 1;
                }
                .contenedorFormulario{
                    flex: 1;
                    .formularioMensaje{
                        padding: 10px;
                    }
                }
            }
        }
    }
    /******************* Nosotros **********************/
    #nosotros{
        .nos{
            padding: 10px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
            "A A ."
            ". B B"
            "C C .";
        }
        .parrafoA{
            grid-area: A;
        }
        .parrafoB{
            grid-area: B;
        }
        .parrafoC{
            grid-area: C;
        }
    }
    /******************* Footer **********************/
    footer{
        height: 80px;
        img{
            height: 40px;
        }
        .contenedorFooter{
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: repeat(2,40px);
            grid-template-areas: 
            "anio anio logoA logoB logoC"
            "ubic ubic logoA logoB logoC";
        }
    }
}
/***************************************************************************************/
/******************* PANTALLA 992px Elemento  Header de Bootstrap **********************/
/***************************************************************************************/
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse { /* Este sector controla la ubicacion de los elementos del header*/
        display: flex!important; 
        flex-basis: auto;
        justify-content: flex-end;
    }
}
/**********************************************************/
/******************* PANTALLA 1024px **********************/
/**********************************************************/
@media (min-width: 1024px){
    /******************* Main **********************/
    main{
        h1{
            font-size: 64px;
        }
        h2{
            font-size: 48px; 
            text-align: center; 
        }
    }
    /******************* Inicio **********************/
    .inicio{
        p{
            font-size:36px
        }
    }
    /******************* Catalogos **********************/
    #catalogos{
        .catalogo{
            height: 500px;
            grid-template-columns: repeat(4, 1fr);
            display: flex;
            align-items: center;
            justify-content: space-around;
            .contenedor{
                img{
                    width: 210px;
                }
                p{
                    height: 100px;
                    padding: 10px;
                }
            }
        }
    }
    /******************* Catalogos HTML **********************/
    .catFormato{
        min-height: calc(100vh - 75px - 80px);
        section{
            h1{
                font-size: 48px;
            }
        }
    }
    /****************Producto sin Stock**************/
    main{
        .prodSinS{
            min-height: calc(100vh - 75px - 70px);
            h1{
                font-size: 48px;
                padding: 20px 0px;
            }
            p{
                font-size:36px
            }
            .contenedorImgP{
                img {
                    width: 30%;
                    // width: 300px;
                    display: block;
                }
            }
        }
    }
    /******************* Contacto **********************/
    .contactos{
        p{
        text-align: center; 
        height: 200px;
        width: 80%;
        font-size: 22px;
        margin: 0 auto;
        }
    }
    /******************* Nosotros **********************/
    #nosotros{
        .nos{
            padding: 10px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
            "A A A . ."
            ". . B B B"
            ". C C C .";    
            p{
                padding: 10px 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
            }
        }
    }
    /******************* Footer **********************/
    footer{
        height: 80px;
        .contenedorFooter{
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: repeat(1,80px);
            grid-template-areas: 
            "anio ubic logoA logoB logoC";
        }
    }
}
